@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.card {
  background-color: $white;
  font-family: $font-secondary;
  color: $san-juan;
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
  }

  @include for-phone-only {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: $white;
    padding: space(24);

  }

  @include for-tablet-portrait-up {
    // flex-direction: column;
  }

  img {
    width: 100%;

    @include for-phone-only {
      width: 118px;
    }

    @include for-tablet-portrait-up {
      height: 252px;
      object-fit: cover;
    }
  }
}

.card__header {
  font-size: pxtorem(20px);

  @include for-tablet-portrait-up {
    margin-bottom: space(24);
  }

  @include for-desktop-up {
    font-size: pxtorem(27px);
  }
}

.card__description {
  padding: space(20) space(20) space(80);

  @include for-phone-only {
    padding: space(16);
  }

  p {
    color: $gray-dark;
    line-height: pxtorem(28px);
  }
}

.card__link {
  display: block;
  text-align: right;
  position: absolute;
  bottom: 2rem;
  right: space(24);
  color: $gray-dark;
  font-size: pxtorem(18px);

  @include for-phone-only {
    display: none;
  }
}
