@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.personas {
  color: $san-juan;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: space(32);

  @include for-tablet-landscape-up {
    padding-top: space(32);
  }

  &__inner-container {
    background-color: $iceberg;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 1260px;
    position: relative;
  
    @include for-tablet-portrait-up {
      
      padding: space(44) space(32) space(44);
      margin: space(48) space(32) 0;
    }

    @include for-tablet-landscape-up {
      padding: space(56) space(48) space(64);
    }

    &:before {
      @include for-tablet-landscape-up {
        content: url('../../assets/images/trees/iceberg-small.svg');
        position: absolute;
        top: -118px;
        left: 10%;
    
      }
      @include for-big-desktop-up {
        top: -136px;
  
      }
    }
  }

  &--intro {
    margin-bottom: space(32);

    @include for-tablet-portrait-up {
      margin-bottom: space(56);
    }
    
    p {
      font-size: pxtorem(22px);
    }
  }

  @include for-phone-only {
    background-color: $iceberg;
    padding: space(56) space(24) space(56);
    text-align: left;

    p {
      font-size: $font-body-s;
    }
  }

  @include for-phone-only {
    &:before {
      content: url('../../assets/images/trees/peurto-small.svg');
      position: absolute;
      top: -46px;
      left: 15%;
    }

    &:after {
      content: url('../../assets/images/telephone-boxes-shapes.svg');
      position: absolute;
      top: -51px;
      transform: scale(0.7);
      right: 5%;
    }
  }

  @include for-small-phone {
    &:after {
      transform: scale(0.6);
      right: 0;
    }
  }

  @include for-tablet-landscape-up {
    &:before {
      content: url('../../assets/images/trees/hawkes-small.svg');
      position: absolute;
      top: -55px;
      right: 15%;
    }

    &:after {
      content: url('../../assets/images/trees/cranberry-lg.svg');
      position: absolute;
      top: -65px;
      right: 11%;
    }
  }
}

.personas__heading {
  @include heading-l;

  margin-bottom: space(8);

  @include for-phone-only {
    font-size: $font-body-l;
    margin-bottom: space(20);
  }
}

.personas__list {
  position: relative;
  display: grid;
  gap: space(24);

  @include for-phone-only {
    margin-top: space(32);
  }

  @include for-tablet-landscape-up {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-desktop-up {
    gap: 3rem;
  }
}

.persona__image--telephone-box {
  width: 160px;
}
